<div>
	<div class="pull-left gap-right">
		<autocomplete-fb-page disabled="$parent.criteria.ignored" ng-show="!isSelected($parent.criteria)" 
			model="$parent.criteria.selection.searchModel.model" 
			on-change="$parent.criteria.selection.searchModel.populate($keyword,$callback)" 
			on-selected="$parent.criteria.selection.onSearchItemSelected($newValue,$oldValue)">
		</autocomplete-fb-page>
		<div ng-show="isSelected($parent.criteria)" ng-click="unselected($parent.criteria)" >
			<div class="selected-icon" ng-show="$parent.criteria.selection.value.id">
				<img ng-src="//graph.facebook.com/{{$parent.criteria.selection.value.id}}/picture/" width="30" height="30" class="pull-left">
				<div class="pull-left text-result">
					{{$parent.criteria.selection.value.name}}			
				</div>
				<span class="edit glyphicon glyphicon-pencil"></span>
				<div class="clearfix"></div>			
			</div>
			<div  ng-show="$parent.criteria.selection.value.id==undefined" class="selected-icon keyword">
				<b>keyword: </b>{{$parent.criteria.selection.value}}	
				<span class="edit glyphicon glyphicon-pencil"></span>
			</div>
		</div>
	</div>
	<div class="btn-group pull-left btn-option pull-left gap-right">
		<button type="button" ng-class="$parent.criteria.selection.timeFrame==''?['selected','btn']:['btn']" 
		ng-click="$parent.criteria.selection.timeFrame=''">
			Anytime
		</button>
		<button type="button" ng-class="$parent.criteria.selection.timeFrame=='/present'?['selected','btn']:['btn']"
		ng-click="$parent.criteria.selection.timeFrame='/present'">
			Present
		</button>
		<button type="button" ng-class="$parent.criteria.selection.timeFrame=='/past'?['selected','btn']:['btn']"
		ng-click="$parent.criteria.selection.timeFrame='/past'">
			Past
		</button>
		<button type="button" ng-class="$parent.criteria.selection.timeFrame=='/date'?['selected','btn']:['btn']"
		ng-click="$parent.criteria.selection.timeFrame='/date'">
			Year
		</button>
	</div>
	<div class="gap-right pull-left">
		<select ng-if="$parent.criteria.selection.timeFrame=='/date'" ng-model="$parent.criteria.selection.year" ng-options="year for year in $parent.criteria.selection.yearOptions"></select>
	</div>
</div>
