<div class="btn-group pull-left btn-option gap-10px">
	<button type="button" ng-class="$parent.criteria.selection.value=='males'?['selected','btn']:['btn']"  ng-click="$parent.criteria.selection.value='males'">
		Males
	</button>
	<button type="button" ng-class="$parent.criteria.selection.value=='females'?['selected','btn']:['btn']" ng-click="$parent.criteria.selection.value='females'">
		Females
	</button>
	<button type="button" ng-class="$parent.criteria.selection.value=='both'?['selected','btn']:['btn']" ng-click="$parent.criteria.selection.value='both'">
		Both
	</button>
</div>
