<div >
	<autocomplete-fb-page ng-show="!$parent.selectedFbSearchParam.model.selected" 
		model="$parent.selectedFbSearchParam.model.searchModel.model" 
		on-change="$parent.selectedFbSearchParam.model.searchModel.populate($keyword,$callback)" 
		on-selected="$parent.selectedFbSearchParam.model.onSearchItemSelected($newValue,$oldValue)">
	</autocomplete-fb-page>
	<div ng-show="$parent.selectedFbSearchParam.model.selected">
		<div class="selected-icon" ng-show="$parent.selectedFbSearchParam.model.value.id">
			<img ng-src="//graph.facebook.com/{{$parent.selectedFbSearchParam.model.value.id}}/picture/" width="30" height="30" class="pull-left">
			<div class="pull-left text-result">
				{{$parent.selectedFbSearchParam.model.value.name}}			
			</div>
			<div class="clearfix"></div>			
		</div>
		<div  ng-show="$parent.selectedFbSearchParam.model.value.id==undefined" class="selected-icon keyword">
			{{$parent.selectedFbSearchParam.model.value}}	
		</div>
	</div>
</div>
