<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
	<script src="/static/all.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/all.css">
</head>
<body ng-app="buasApp" ng-controller="MainController">
	<div class="container">
		<div class="btn-group all-btn pull-right">
			<button type="button" class="btn" ng-click="setViewMode('ALL')" 
			ng-class="'ALL'==activeViewMode?['selected','btn']:['btn']">ALL</button>
		</div>
		<div class="btn-group main-menu pull-left">
			<button type="button" ng-repeat="viewMode in viewModes" ng-click="setViewMode(viewMode)" 
			ng-class="viewMode==activeViewMode?['selected','btn']:['btn']">{{viewMode}}</button>
		</div>
		<div class="clearfix"></div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-init="checkLogin()">
					<h1>BUAS GRABH</h1>
					<h2>Graph Search With Grabber</h2>
					<div>{{status}}</div>		
				</div>
				<div ng-show="!authResponse">
					<a ng-click="login()">LOGIN</a>
				</div>

				<autocomplete-fb-user  model="searchUserModel.model" on-change="searchUserModel.populate($keyword,$callback)" on-selected="searchUserModel.onSelected()">
				</autocomplete-fb-user>
				<autocomplete-fb-page  model="searchPageModel.model" on-change="searchPageModel.populate($keyword,$callback)" on-selected="searchPageModel.onSelected()">
				</autocomplete-fb-page>
			</div>
		</div>

</body>
