<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
	<script src="/static/all.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/all.css">
</head>
<body ng-app="buasApp" ng-controller="MainController">
	<div class="container">
		<div class="btn-group all-btn pull-right">
			<button type="button" class="btn" ng-click="setViewMode('ALL')" 
			ng-class="'ALL'==activeViewMode?['selected','btn']:['btn']">ALL</button>
		</div>
		<div class="btn-group main-menu pull-left">
			<button type="button" ng-repeat="viewMode in viewModes" ng-click="setViewMode(viewMode)" 
			ng-class="viewMode==activeViewMode?['selected','btn']:['btn']">{{viewMode}}</button>
		</div>
		<div class="clearfix"></div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-init="checkLogin()">
					<h1>BUAS GRABH</h1>
					<h2>Graph Search With Grabber</h2>
					<div>{{status}}</div>		
				</div>
				<div ng-show="!authResponse">
					<a ng-click="login()">LOGIN</a>
				</div>
				<div ng-repeat="selectedFbSearchParam in fbSearchParams">
					<select ng-disabled="selectedFbSearchParam.model.selected" class="pull-left" ng-model="selectedFbSearchParam.criteria" ng-options="criteria.name for criteria in criterias"
					ng-change="selectedFbSearchParam.model=selectedFbSearchParam.criteria.getSelectionModel()"
					>
					</select>
					<div class="pull-left" ng-if="selectedFbSearchParam.criteria" ng-include src="'static/templates/selectors/'+selectedFbSearchParam.criteria.template">
					</div>
					<button ng-click="selectedFbSearchParam.model.selected=false" ng-show="selectedFbSearchParam.model.selected">Edit</button>
					<button  ng-click="deleteSearchParam(selectedFbSearchParam)">Delete</button>
					<div class="clearfix"></div>
				</div>

				<button ng-click="addFbParam()">Add</button>
				{{searchPath}}
				<button ng-click="arrangePath()">GET PATH</button>
<!-- 				<div>
					<span>visitor</span>
					<autocomplete-fb-page class="inline" model="searchPlaceModel.model" on-change="searchPlaceModel.populate($keyword,$callback)" on-selected="searchPlaceModel.onSelected()">
					</autocomplete-fb-page>
					<br/>
					/{{searchPlaceModel.model.id}}/visitors
				</div>
				<div>
					<span>likers</span>
					<autocomplete-fb-page class="inline" model="searchPageModel.model" on-change="searchPageModel.populate($keyword,$callback)" on-selected="searchPageModel.onSelected()">
					</autocomplete-fb-page>
					<br/>
					/{{searchPageModel.model.id}}/likers
				</div>
				<div>
					<span>lives in</span>
					<autocomplete-fb-page  model="searchLocationModel.model" on-change="searchLocationModel.populate($keyword,$callback)" on-selected="searchLocationModel.onSelected()">
					</autocomplete-fb-page>				
					<br/>
					/{{searchLocationModel.model.id}}/residents/present/
				</div> -->
			</div>
		</div>

</body>
