<div class="panel panel-default" ng-show="!expandedMode">
	<div class="panel-body shady">
		<div ng-repeat="criteria in basicCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
			<input type="checkbox" class="pull-left" ng-model="criteria.ignored"  ng-true-value="false" ng-false-value="true"/>
			<div class="pull-left criteria-name  gap-right">
				{{criteria.name}}
			</div>
			<div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="panel-body">
		<div ng-repeat="criteria in extendedCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
			<input type="checkbox" class="pull-left" ng-model="criteria.ignored"  ng-true-value="false" ng-false-value="true"/>
			<div class="pull-left criteria-name  gap-right">
				{{criteria.name}}
			</div>
			<div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
			</div>
			<div class="clearfix"></div>
		</div>		
	</div>
</div>

<div ng-show="expandedMode" class="expanded-view-button" ng-style="expandedViewStyle()">
    <span class="icon-button glyphicon glyphicon-user" ng-click="toggleSectionVisible('BASIC')" 
     ng-class="{selected:isSectionVisible['BASIC']}"></span>
    <span class="icon-button glyphicon glyphicon-heart" ng-click="toggleSectionVisible('INTEREST')"
     ng-class="{selected:isSectionVisible['INTEREST']}"></span>
    <span class="icon-button glyphicon glyphicon-globe" ng-click="toggleSectionVisible('NETWORK')"
     ng-class="{selected:isSectionVisible['NETWORK']}"></span>
    <span class="icon-button glyphicon glyphicon-map-marker" ng-click="toggleSectionVisible('PLACE')"
     ng-class="{selected:isSectionVisible['PLACE']}"></span>
    <span class="icon-button glyphicon glyphicon-education" ng-click="toggleSectionVisible('EDUCATION')"
     ng-class="{selected:isSectionVisible['EDUCATION']}"></span>
    <span class="icon-button glyphicon glyphicon-briefcase" ng-click="toggleSectionVisible('WORK')"
     ng-class="{selected:isSectionVisible['WORK']}"></span>
</div>
<accordion close-others="false" ng-show="expandedMode" class="expanded-content">
    <accordion-group heading="BASIC" is-open="isSectionVisible['BASIC']">
        <div ng-repeat="criteria in basicCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
            <input type="checkbox" class="pull-left" ng-model="criteria.ignored" ng-true-value="false" ng-false-value="true"/>
            <div class="pull-left criteria-name  gap-right">
                {{criteria.name}}
            </div>
            <div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
            </div>
            <div class="clearfix"></div>
        </div>        
    </accordion-group>    
    <accordion-group  heading="INTEREST" is-open="isSectionVisible['INTEREST']">
        <div ng-repeat="criteria in interestCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
            <input type="checkbox" ng-model="criteria.ignored" ng-disabled="!criteria.selection" class="pull-left" ng-true-value="false" ng-false-value="true" />
            <div class="pull-left criteria-name bordered  gap-right" ng-if="!criteria.deletable">
                {{criteria.name}}
            </div>
            <select class="gap-right pull-left " ng-disabled="criteria.ignored" ng-if="criteria.deletable" ng-model="criteria.clone" ng-change="clone(criteria)" ng-options="selector.name for selector in interestCriteriaDropdownSelector"  ng-init="initClone(interestCriteriaDropdownSelector,criteria)"></select>
            <div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
            </div>
            <button class="pull-left delete-button btn action-btn" ng-if="criteria.deletable" ng-click="deleteCriteria(interestCriterias,criteria)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="clearfix"></div>
        </div>
        <button class="btn action-btn new-button" ng-click="addCriteria(interestCriterias)">
            <span class="icon-button glyphicon glyphicon-heart"></span> ADD NEW CRITERIAS
        </button>        
    </accordion-group>    
    <accordion-group  heading="NETWORK" is-open="isSectionVisible['NETWORK']">
        <div ng-repeat="criteria in networksCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
            <input type="checkbox" ng-model="criteria.ignored" ng-disabled="!criteria.selection" class="pull-left" ng-true-value="false" ng-false-value="true" />
            <div class="pull-left criteria-name bordered  gap-right" ng-if="!criteria.deletable">
                {{criteria.name}}
            </div>
            <select class="gap-right pull-left" ng-disabled="criteria.ignored" ng-if="criteria.deletable" ng-model="criteria.clone" ng-change="clone(criteria)" ng-options="selector.name for selector in newtworksCriteriaDropdownSelector" ng-init="initClone(newtworksCriteriaDropdownSelector,criteria)"></select>
            <div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
            </div>
            <button class="pull-left delete-button btn action-btn" ng-if="criteria.deletable" ng-click="deleteCriteria(networksCriterias,criteria)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="clearfix"></div>
        </div>
        <button class="btn action-btn new-button" ng-click="addCriteria(networksCriterias)">
            <span class="glyphicon glyphicon-globe"></span> ADD NEW CRITERIAS
        </button>
    </accordion-group>    
    <accordion-group  heading="PLACE"  is-open="isSectionVisible['PLACE']">
        <div ng-repeat="criteria in placeLiveCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
            <input type="checkbox" ng-model="criteria.ignored" ng-disabled="!criteria.selection" class="pull-left" ng-true-value="false" ng-false-value="true" />
            <div class="pull-left criteria-name bordered  gap-right" ng-if="!criteria.deletable">
                {{criteria.name}}
            </div>
            <select class="gap-right pull-left" ng-disabled="criteria.ignored" ng-if="criteria.deletable" ng-model="criteria.clone" ng-change="clone(criteria)" ng-options="selector.name for selector in placeCriteriaDropdownSelector" ng-init="initClone(placeCriteriaDropdownSelector,criteria)"></select>
            <div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
            </div>
            <button class="pull-left delete-button btn action-btn" ng-if="criteria.deletable" ng-click="deleteCriteria(placeLiveCriterias,criteria)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="clearfix"></div>
        </div>
        <button class="btn action-btn new-button" ng-click="addCriteria(placeLiveCriterias)">
            <span class="glyphicon glyphicon-map-marker"></span> ADD NEW CRITERIAS
        </button>
    </accordion-group>    
    <accordion-group  heading="EDUCATION"  is-open="isSectionVisible['EDUCATION']">
        <div ng-repeat="criteria in educationCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
            <input type="checkbox" ng-model="criteria.ignored" ng-disabled="!criteria.selection" class="pull-left" ng-true-value="false" ng-false-value="true" />
            <div class="pull-left criteria-name bordered  gap-right" ng-if="!criteria.deletable">
                {{criteria.name}}
            </div>
            <select class="gap-right pull-left " ng-disabled="criteria.ignored" ng-if="criteria.deletable" ng-model="criteria.clone" ng-change="clone(criteria)" ng-options="selector.name for selector in educationCriteriaDropdownSelector"   ng-init="initClone(educationCriteriaDropdownSelector,criteria)"></select>
            <div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
            </div>
            <button class="pull-left delete-button btn action-btn" ng-if="criteria.deletable" ng-click="deleteCriteria(educationCriterias,criteria)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="clearfix"></div>
        </div>
        <button class="btn action-btn new-button" ng-click="addCriteria(educationCriterias)">
            <span class="glyphicon glyphicon-education"></span> ADD NEW CRITERIAS
        </button>
    </accordion-group>    
    <accordion-group  heading="WORK"  is-open="isSectionVisible['WORK']">
       <div ng-repeat="criteria in workCriterias" class="fb-param {{criteria.ignored?'disabled':''}}">
            <input type="checkbox" ng-model="criteria.ignored" ng-disabled="!criteria.selection" class="pull-left" ng-true-value="false" ng-false-value="true"/>
            <div class="pull-left criteria-name bordered  gap-right" ng-if="!criteria.deletable">
                {{criteria.name}}
            </div>
            <select class="gap-right pull-left" ng-disabled="criteria.ignored" ng-if="criteria.deletable" ng-model="criteria.clone" ng-change="clone(criteria)" ng-options="selector.name for selector in workCriteriaDropdownSelector"   ng-init="initClone(workCriteriaDropdownSelector,criteria)"></select>
            <div class="pull-left selection gap-right"  ng-click="activate(criteria)" ng-include src="'static/templates/selectors/'+criteria.template">
            </div>
            <button class="pull-left delete-button btn action-btn" ng-if="criteria.deletable" ng-click="deleteCriteria(workCriterias,criteria)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="clearfix"></div>
        </div>
        <button class="btn action-btn new-button" ng-click="addCriteria(workCriterias)">
            <span class="icon-button glyphicon glyphicon-briefcase"></span> ADD NEW CRITERIAS
        </button>
    </accordion-group>
</accordion>
<a ng-click="expandSelection()" ng-show="!expandedMode">MORE...</a>
<a ng-click="collapseSelection()" ng-show="expandedMode">LESS...</a>
<br/>
<a ng-click="composeUrl()">COMPOSE</a>
<br/>
<a href="{{composedUrl}}" target="_blank">{{composedUrl}}</a>