.box{
	border:1px solid #DDE;
	padding:5px;
	width:400px;
}
.search-result{
	border-bottom: 1px solid #EEF;
	padding: 5px;
}
.search-result .coverage{
	text-align: right;
	color:#667;
}
.search-result.selected, .search-result:hover{
	background:#DDF;		
}
.rel{
	position: relative;
}
.inline-block{
	display: inline-block;
}
.abs{
	position: absolute;
}